.header__menu-button {
  background-color: rosybrown;
}

.menu-button__menu-icon {
  display: none;
  .menu-button.is-open & {
    display: block;
  }
}

.menu-button__close-icon {
  .menu-button.is-open & {
    display: none;
  }
}
