@import './normalize';
@import './special';

@import './header-hero.scss';

button {
  text-decoration: none;
  border: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
svg {
  display: block;
}
