<footer class="footer container">
    <a class="logo" href="#">
        <img src="./images/footer/logo-desktop@1x.png" width="199" alt="Logo with the inscription icecream">
        
            <!-- <img alt="Logo with the inscription icecream" width="199" 
            srcset="
                                                            ./images/footer/logo-mobile@1x.png 1x,
                                                            ./images/footer/logo-mobile@2x.png 2x,
                                                            ./images/footer/logo-mobile@3x.png 3x,"
                src="./images/footer/logo-mobile@1x.png"> -->
    
    </a>
    <button type="button" class="header__button menu-button is-open" data-menu-button>
        <svg width="40" height="40" aria-label="transition sandwich menu" aria-expanded="false">
            <use class="menu-button__close-icon" href="../src/images/footer/close.svg"></use>
            <use class="menu-button__menu-icon" href="../src/images/footer/burger.svg"></use>
        </svg>
    </button>
    <nav class="nav data-menu">
        <uv class="nav-list">
            <li class="nav-list__item"><a class="nav-list__link" href="#">Home</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="#">About us</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="#">How it’s made?</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="#">Our products</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="#">Contact</a></li>
        </uv>

    </nav>
    <button type="button">
        Buy now
    </button>
    <div class="hero">
    <h1>ice cream made with <span class="hero__span">passion</span></h1>
    <button type="button">
        Products
    </button>
    <button type="button">
        How it’s made?
    </button>
    <!-- <picture>
        <source media="(min-width: 1200px)" type="image/png" srcset="
                                                                ../src/images/footer/slider-milk-desktop@1x.png 1x,
                                                                ../src/images/footer/slider-milk-desktop@2x.png 2x,
                                                                ../src/images/footer/slider-milk-desktop@3x.png 3x,">
        <source media="(min-width: 768px)" type="image/png" srcset="
                                                                ../src/images/footer/slider-milk-tablet@1x.png 1x,
                                                                ../src/images/footer/slider-milk-tablet@2x.png 2x, 
                                                                ../src/images/footer/slider-milk-tablet@3x.png 3x,">
        <img alt="Logo with the inscription icecream" srcset="
                                                                ../src/images/footer/slider-milk-mobile@1x.png 1x,
                                                                ../src/images/footer/slider-milk-mobile@2x.png 2x,
                                                                ../src/images/footer/slider-milk-mobile@3x.png 3x,"
            src="../src/images/footer/slider-milk-mobile@1x.png">
    </picture> -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <!-- <a class="" href="">
        <svg width="26" height="26">
            <use href="../src/images/footer/arrow-right-3.svg"></use>
        </svg>
    </a> -->
    <!-- <picture>
        <source media="(min-width: 1200px)" type="image/png" srcset="
                                                                    ../src/images/footer/slider-icecream-desktop@1x.png 1x,
                                                                    ../src/images/footer/slider-icecream-desktop@2x.png 2x,
                                                                    ../src/images/footer/slider-icecream-desktop@3x.png 3x,">
        <source media="(min-width: 768px)" type="image/png" srcset="
                                                                    ../src/images/footer/slider-icecream-tablet@1x.png 1x,
                                                                    ../src/images/footer/slider-icecream-tablet@2x.png 2x, 
                                                                    ../src/images/footer/slider-icecream-tablet@3x.png 3x,">
        <img alt="Logo with the inscription icecream" srcset="
                                                                    ../src/images/footer/slider-icecream-mobile@1x.png 1x,
                                                                    ../src/images/footer/slider-icecream-mobile@2x.png 2x,
                                                                    ../src/images/footer/slider-icecream-mobile@3x.png 3x,"
            src="../src/images/footer/slider-icecream-mobile@1x.png">
    </picture> -->
    <ul>

    </ul>
    <!-- <picture>
        <source media="(min-width: 1200px)" type="image/png"
            srcset="
                                                                        ../src/images/footer/slider-girl-desktop@1x.png 1x,
                                                                        ../src/images/footer/slider-girl-desktop@2x.png 2x,
                                                                        ../src/images/footer/slider-girl-desktop@3x.png 3x,">
        <source media="(min-width: 768px)" type="image/png"
            srcset="
                                                                        ../src/images/footer/slider-girl-tablet@1x.png 1x,
                                                                        ../src/images/footer/slider-girl-tablet@2x.png 2x, 
                                                                        ../src/images/footer/slider-girl-tablet@3x.png 3x,">
        <img alt="Logo with the inscription icecream"
            srcset="
                                                                        ../src/images/footer/slider-girl-mobile@1x.png 1x,
                                                                        ../src/images/footer/slider-girl-mobile@2x.png 2x,
                                                                        ../src/images/footer/slider-girl-mobile@3x.png 3x,"
            src="../src/images/footer/slider-girl-mobile@1x.png">
    </picture> -->
</div>
</footer>