<footer class="footer-hero">
    <a class="logo" href="">icecream</a>
    <nav class="nav">
        <uv class="nav-list">
            <li class="nav-list__item">Home</li>
            <li class="nav-list__item">About us</li>
            <li class="nav-list__item">How it’s made?</li>
            <li class="nav-list__item">Our products</li>
            <li class="nav-list__item">Contact</li>
        </uv>

    </nav>
    <button type="button">
        Buy now
    </button>
    <div class="hero">

    </div>
</footer>