    <header class="header header-container">
    <a class="logo" href="#">
        <img src="./images/header/logo@1x.png" width="199" height="50" alt="Logo with the inscription icecream">
    </a>
    <button type="button" class="header__menu-button menu-button is-open">
        <svg width="20" height=14 aria-label="transition sandwich menu">
            <use class="menu-button__menu-icon" href="./images/header/sprite.svg#burger"></use>
            <use class="menu-button__close-icon" href="./images/header/sprite.svg#close"></use>
            
        </svg>
    </button>
    <nav class="nav data-menu">
        <uv class="nav-list">
            <li class="nav-list__item"><a class="nav-list__link" href="#">Home</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="#">About us</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="#">How it’s made?</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="#">Our products</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="#">Contact</a></li>
        </uv>

    </nav>
    <button type="button">
        Buy now
    </button>
    <div class="hero">
    <h1>ice cream made with <span class="hero__span">passion</span></h1>
    <button type="button">
        Products
    </button>
    <button type="button">
        How it’s made?
    </button>
    
    <div class="header__info">
        <img alt="Milk" src="./images/header/slider-milk-tablet@1x.png">
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        
        <a class="logo" href="#">
            <img src="./images/header/arrow-right-3.png" width="26" height="26" alt="Logo with the inscription icecream">
        
        </a>
        
        <img alt="Logo with the inscription icecream" src="./images/header/slider-icecream-mobile@1x.png">
        
        <ul>
            <li>
                <h1>16</h1>
                <p>cafes</p>
            </li>
            <li>
                <h1>23</h1>
                <p>food trucks</p>
            </li>
        </ul>
        
        <img alt="Logo with the inscription icecream" src="./images/header/slider-girl-tablet@1x.png">
    </div>
    
</div>
    </header>
