    <header class="header header-container">
    <div class="header__section">
        <a class="logo" href="#">
            <img src="./images/header/logo@1x.png" width="199" height="50" alt="Logo with the inscription icecream">
        </a>
        
        <button type="button" class="header__menu-button" data-menu-open>
            <svg width="20" height="12" class="header-icon" aria-label="Переключатель мобильного меню">
                <use class="icon-menu" href="./images/header/sprite.svg#burger"></use>
            </svg>
        </button>
        <button type="button" class="button-buy header__button-buy">
            Buy now<span class="button-buy__symbol">&#160; &#160; &#62;</span>
        </button>
        
        <nav class="nav" data-menu>
            <button type="button" class="header__close-button" data-menu-close>
                <svg width="14" height="14" class="header-icon" aria-label="Переключатель мобильного меню">
                    <use class="icon-cross" href="./images/header/sprite.svg#close"></use>
                </svg>
            </button>
            <button type="button" class="button-buy">
                Buy now<span class="button-buy__symbol">&#160; &#160; &#62;</span> 
            </button>
            <ul class="nav-list">
                <li class="nav-list__item"><a class="nav-list__link" href="#">Home</a></li>
                <li class="nav-list__item"><a class="nav-list__link" href="#">About us</a></li>
                <li class="nav-list__item"><a class="nav-list__link" href="#">How it’s made?</a></li>
                <li class="nav-list__item"><a class="nav-list__link" href="#">Our products</a></li>
                <li class="nav-list__item"><a class="nav-list__link" href="#">Contact</a></li>
            </ul>
        </nav>
        
        <button type="button" class="header__button">
            Buy now
        </button>
    </div>


    <div class="hero">

        <div class="round"></div>
        <img class="hero__icecream" alt="icecream" src="./images/header/slider-icecream-mobile@1x.png">
        <div class="hero__info">
            <h1 class="hero__h1">ice cream made with <span class="hero__span">passion</span></h1>
        
            <ul class="hero-list">
                <li class="hero-list__item">
                    <button type="button" class="hero__button hero__button--red">
                        Products
                    </button>
                </li>
                <li class="hero-list__item">
                    <button type="button" class="hero__button">
                        How it’s made?
                    </button>
                </li>
            </ul>
        </div>

        <div class="hero__add-info">
            <img class="hero__milk" alt="Milk" src="./images/header/slider-milk-tablet@1x.png">
        
            <p class="hero__milk-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        
            <a class="hero__arrow-link" href="#">
                <img src="./images/header/arrow-right-3.png" width="26" height="26" alt="Logo with the inscription icecream">
        
            </a>
        
            
        
            <ul class="number-list">
                <li class="number-list__item">
                    <div class="number-list__round"></div>
                    <h1 class="number-list__header">16</h1>
                    <p class="number-list__info">cafes</p>
                </li>
                <li class="number-list__item">
                    <div class="number-list__round"></div>
                    <h1 class="number-list__header">23</h1>
                    <p class="number-list__info">food trucks</p>
                </li>
            </ul>
        
            <img class="hero__girl-pic" alt="girl tolding sooooo tasty!" src="./images/header/slider-girl-tablet@1x.png">
        </div>

    </div>
    </header>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est obcaecati earum veritatis molestias explicabo, hic delectus quae rerum doloribus, in iste nostrum, nam sequi eius. Modi doloremque corporis quaerat distinctio.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est obcaecati earum veritatis molestias explicabo, hic
            delectus quae rerum doloribus, in iste nostrum, nam sequi eius. Modi doloremque corporis quaerat distinctio.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est obcaecati earum veritatis molestias explicabo, hic
                    delectus quae rerum doloribus, in iste nostrum, nam sequi eius. Modi doloremque corporis quaerat distinctio.</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est obcaecati earum veritatis molestias explicabo, hic
                            delectus quae rerum doloribus, in iste nostrum, nam sequi eius. Modi doloremque corporis quaerat distinctio.</p>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est obcaecati earum veritatis molestias explicabo, hic
                                    delectus quae rerum doloribus, in iste nostrum, nam sequi eius. Modi doloremque corporis quaerat distinctio.</p>
